:host {
  display: block;
  padding-left: 81px;
}
.AdminMain {
  display: flex;
  flex-direction: column;
}
.AdminMain > button {
  align-self: flex-end;
  margin-right: 1vw;
  margin-top: 1vw;
}
.infoHero {
  position: absolute;
  right: 11.5vw;
  background-color: rgb(233, 143, 70);
  border: solid 1px;
  border-radius: 5px;
  border: solid 1px;
  width: 220px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 22vh;
}
.infoHero > p {
  max-width: 90%;
text-align: center;
}
.infoHero > p:nth-child(2n + 1) {
  color: whitesmoke;
}